<div class="d-flex  mb-3">
  <div class="ms-auto">
    <button class="btn btn-secondary me-3"
            (click)="onInsertValue()">Insert value</button>
    <a class="btn btn-secondary" routerLink="./select">Select values</a>
  </div>
</div>

<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"
          *ngFor="let attribute of attributes">{{ attribute.attributeName }}</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of valueRows; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td *ngFor="let attribute of attributes">{{ row[attribute.attributeName] }}</td>
      <td> <i (click)="onDelete(row)"
           class="fa-solid fa-trash-can cursor-pointer"></i></td>
    </tr>
  </tbody>
</table>